[settings]
experimental = true

[tools]
"ubi:houseabsolute/ubi" = "latest"
usage = "latest"
{{ if .chezmoi.arch == "amd64" }}
neovim = "latest"
{{ end }}
python = "3.10.14"
fzf = "latest"
chezmoi = "latest"
direnv = "latest"
jq = "1.7.1"
"ubi:carapace-sh/carapace-bin[exe=carapace]" = "latest"  # carapace's cli
"ubi:cli/cli[exe=gh]" = "latest" # github's cli
